<% layout('/layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">Edit Event</h1>
    <div class="col-6 offset-3">
        <form method="POST" action="/events/<%= event._id %>?_method=PUT" novalidate class="validated-form">
        <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input class="form-control"  type="text" id="name" name="event[name]" value="<%= event.name %>" required/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control"  type="email" id="email" name="event[email]" value="<%= event.email %>" required/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="oragniser">Organiser</label>
            <input class="form-control"  type="text" id="organiser" name="event[organiser]" value="<%= event.organiser %>" required/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input class="form-control"  type="text" id="location" name="event[location]" value="<%= event.location %>" required/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <input class="form-control"  type="text" id="descriptiom" name="event[description]" value="<%= event.description %>" required/>
        </div>
        <div class="mb-3">
            <button class="btn btn-info" >Update Event</button>
        </div>
        </form>

        <div class="col-6 ">
            <a href="/events" class="btn btn-dark block">All Events</a>
        </div>
</div> 


